<ul>
	<%@games.each_with_index() do |game, i|%>
		<h2><li>
			<a href='/<%game.id()%>'>
				<%if game.players().length() > 2%>
					<%game.players()[(0..(game.players().length()) - 2)].each() do |player|%>
						<%= "#{player.name()}, "%>
					<%end%>
					and <%= game.players()[-1].name()%>'s Game
				<%else%>
					<%=game.players()[0].name()%> and <%=game.players()[1].name()%>'s Game
				<%end%>
			</a>
		</li></h2>
	<%end%>
</ul>
<form action='/new' method='post'>
	<div class='form-group'>
		<label for='player_count'>Number of Players</label>
		<input id='player_count' name='player_count' type='number' class='form-control' min='2' max='10'>
	</div>
	<button class='btn btn-primary'>New Game</button>
</form>